@import "normalize";
@import "layout";
@import "type";
@import "animate";



.cta { 
    background-color: rgba(197, 79, 162, 0.8);
    color: rgba(0, 0, 0, 0.75);
    padding: 1px 3px;
    font-size: 0.8em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; 
}


@media screen and (min-width: 914px) {
    body {
        width: 854px;
        margin:10px auto;
    }
}
@media print {
	
	table, pre {
		page-break-inside: avoid;
	}
}